#calculator {
  font-size: 1rem;
  background-color: var(--clr-primary-400);
  padding: var(--size-100);
}

.calculator__screen {
  width: 100%;
  font-size: var(--fs-700);
  text-align: right;
  border: none;
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-100);
  cursor: default;
  &:focus-visible {
    outline: none;
  }
}
