.keypad-btns--func,
.keypad-btns--op,
.keypad-btns--num {
  cursor: pointer;
}

.keypad-btns--func {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.15rem;
  color: var(--clr-primary-text);
  & .btn--clear {
    grid-column: 1 / 3;
  }
  & .btn {
    background-color: var(--clr-primary-background-light-faded);
  }
}

.keypad-btns--op {
  width: 100%;
  display: flex;
  gap: 0.15rem;
  margin-block: 0.15rem;
  & .btn {
    flex-basis: 100%;
  }
}

.keypad-btns--num {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.15rem;
  color: var(--clr-primary-text);
}

.keypad-btns--op,
.btn--sum {
  color: var(--clr-accent-text);
}
