:root {
  --clr-primary-text-faded: hsla(0, 0%, 0%, 0.637);
  --clr-primary-text: hsl(0, 0%, 0%);
  --clr-primary-background-light-faded: hsla(0, 0%, 100%, 0.643);
  --clr-primary-background-light: hsl(0, 0%, 100%);
  --clr-primary-background: hsl(0, 0%, 70%);
  --clr-primary-background-hover: hsl(0, 0%, 91%);
  --clr-accent-text: hsl(14, 87%, 49%);
}

.dark-theme {
  --clr-primary-text-faded: hsla(47, 43%, 89%, 0.7);
  --clr-primary-text: hsl(47, 43%, 89%);
  --clr-primary-background-light-faded: hsla(34, 6%, 24%, 0.452);
  --clr-primary-background-light: hsl(34, 6%, 24%);
  --clr-primary-background: hsl(40, 4%, 14%);
  --clr-primary-background-hover: hsl(36, 5%, 22%);
  --clr-accent-text: hsl(14, 87%, 49%);
}
